<%= render 'shared/menu' %>
  <div class="container" style="margin-left:18%""">

    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="col-4">
          <h2>Mis finanzas</h2>
        </div>
        <div class="col-4">
          bienvenido: <%= Current.user.username %>

        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="card" style="width: 100%;">
            <h5 class="card-title">Ingresos</h5>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Categorias</h6>
                <ul class="list-group list-group-flush">
                  <% @categoriaIng.each do |item| %>
                    <li class="list-group-item"><%= item.categoria %></li>
                  <%end %>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 100%;">
            <h5 class="card-title">Egresos</h5>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Categorias</h6>
              <ul class="list-group list-group-flush">
                <% @categoriaEgr.each do |item| %>
                  <li class="list-group-item"><%= item.categoria %></li>
                <%end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <center><a href="" class="btn btn-primary">Detalle</a></center> <br>
              <center><a href=""><i class="fas fa-plus-circle" style="font-size: 50px;"></i></a>  </center>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <center>
                <%= form_with(url: egresos_path) do |form| %>
                  <div class="mb-3">
                    <%= form.label :fecha1 , :class => 'form-label' %>
                    <%= form.date_field :fecha1 , :class => 'form-control' %>
                  </div>
                <% end %>
              </center>
              <center><h4>Balance</h4></center>
              <center><h1 style="color: red;">...</h1></center>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <center><a href="" class="btn btn-primary">Detalle</a></center> <br>
              <center><a href=""><i class="fas fa-plus-circle" style="font-size: 50px;"></i></a>  </center>
            </div>
          </div>
        </div>


      </div>

      
      <%= stylesheet_link_tag %>
    </div>